.landingPageContainer {
  background: url("../public/background.webp") no-repeat center center;
  background-size: cover;
  color: white;
  width: 100vw;
  min-height: 100vh;
}

@media (max-width: 600px) {
  .landingPageContainer {
    background-size: cover;
      width: 100vw;
      min-height: 100vh;
    background-position: center center;
    /* background: repeat-y; */
    /* background-color: #0a0a23; */
    /* Optionally switch to a mobile-optimized image */
    /* background-image: url("../public/background-mobile.png"); */
  }
}

.landingPageContainer nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px;
}

.landingPageContainer .navheader{
  font-size: 2rem;
  font-weight: bold;
}
.landingPageContainer .navheader :hover{
  cursor: pointer;
}
.navlist{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: white;
  gap: 20px;
  font-size: 1.2rem;
}

.nav-item{
  cursor: pointer;
}
.login{
  padding: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
  background-color:dodgerblue;
  border-radius: 3px;
  border-color: dodgerblue;
  color: white;
  font-size: 1rem;
}
.landingMainContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
}
.content{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content .p1{
  font-size: 4rem;
  font-weight: bold;
}
.content .p2{
  font-size: 1.5rem;
  word-spacing: 0.2em;
  letter-spacing: 0.1rem;
  color: rgb(167, 168, 169);
}


@media (max-width: 710px) {
  .content .p1{
    font-size: 3rem;
    font-weight: bold;
  }
  .content .p3{
    font-size: 2rem;
    font-weight: bold;
  }
  .brdrs{
  width: 100%;
  display: flex;
  justify-content: center;
}
}

@media (max-width: 600px) {
  .content .p1{
    font-size: 1.7rem;
    font-weight: bold;
  }
  .content .p2{
    font-size: 1.2rem;
  }
  

}
/* @media (max-width: 440px) { */
@media (max-width: 440px) {
  .brdrs img {
    width: 80vw;
  }
    .content .p2{
    font-weight: 0.5rem;
  }
}
/* } */


.connect{
  color: dodgerblue;
}

.landingMainContainer > div:nth-child(2) img{
  height: 70vh;
}
.landingMainContainer > div:nth-child(1) div[role="button"]{
  padding: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
  background-color:dodgerblue;
  border-radius: 6px;
  border-color: dodgerblue;
  color: white;
  width: fit-content;
  font-size: 1.5rem;
  margin-top: 1.6rem;
}

@media (max-width: 440px) {
  .landingMainContainer > div:nth-child(1) div[role="button"]{
      font-size: 1.1rem;
        padding: 10px;
  }
  .content{
    width: 80vw;
  }
}
.landingMainContainer > div:nth-child(1) div[role="button"] a{
  text-decoration: none;
  color: white;
}

.navBar{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding:20px;
}

.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}



.leftPanel {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel > img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}
.innerLeft{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.innerLeft p{
  font-size: xx-large;
  font-weight: 500;
}



.innerLeft span{
  color: rgb(5, 92, 178);
}
.lobbyVideo{
  width: 30rem;
  height:auto;
  margin-top: 2rem;
  border-radius: 1.5rem;
}



.lobbyContainer{
  display: flex; 
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.textF{
  display: flex;

  gap: 1rem;
  align-items: center;
}

@media (max-width:720px){
  .innerLeft p{
    font-size: x-large;
  }
  .content{
    flex-direction: column;
    gap: 0;
  }
  .emptyText{
    font-size: x-large;
  }
  .lobbyVideo{
    width: 90vw;
  }
  .textF{
    flex-direction: column;
  }
}

.videoElement{
  width: 15vw;
  height: 20vh;
}
@media(max-width:1100px){
  .videoElement{
    width: 20vw;
    height: 25vh;
  }
}

@media(max-width:720px){
  .videoElement{
    width: 30vw;
    height: 25vh;
  }
}

@media(max-width:500px){
  .videoElement{
    width: 25vw;
    height: 20vh;
  }
}

.remoteVideoElement{
  width: 10vw;
  height: 15vh;
}
@media(max-width:1100px){
  .remoteVideoElement{
    width: 15vw;
    height: 18vh;
  }
}
@media(max-width:720px){
  .remoteVideoElement{
    width: 18vw;
    height: 20vh;
  }
}

@media(max-width:500px){
  .remoteVideoElement{
    width: 20vw;
    height: 23vh;
  }
}
